@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 900;
  src: url('../fonts/roboto-v30-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 400;
  src: url('../fonts/play-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 700;
  src: url('../fonts/play-v17-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
:root {
  --primary-color-light: #fff;
  --primary-color-blue-dark: #011c44;
  --primary-color-blue-light: #2b7fff;
  --primary-secondary-color-grey-light: #747272;
  --primary-secondary-color-grey-dark: #4a4a4a;
  --primary-secondary-color-blue: #011f4a;
  --primary-secondary-color-yellow: #ffd02b;
}
/* Base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: var(--primary-color-blue-dark);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}

address {
  font-style: normal;
}
ul {
  list-style-type: none;
}
.container {
  width: 100%;
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 24px;
}
/* Button */
.button {
  padding: 16px 32px;
  border-radius: 32px;
  font-size: 18px;
  background-color: var(--primary-color-blue-light);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid var(--primary-color-blue-light);
}
.button:hover {
  color: var(--primary-color-blue-dark);
  background-color: white;
}
.hero__button {
  width: 227.2px;
  height: 56.2px;
}
.location__button {
}

/* Header */
.header {
  background-image: linear-gradient(
      94deg,
      #fff 9.65%,
      rgba(255, 255, 255, 1) 31.08%,
      rgba(255, 255, 255, 0.19) 52.74%,
      rgba(255, 255, 255, 0) 74.46%
    ),
    url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  /* background-size: cover; */
}
.header-item {
  width: 100%;
  max-width: 1264px;
}
.header__container {
  padding: 20px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 49px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
}
.header__menu {
  display: flex;
  gap: 56px;
}
.header__social-networks {
  display: flex;
  gap: 32px;
}
.header__menu-link {
  font-weight: 400;
  color: var(--primary-color-blue-dark);
  text-decoration: none;
}
.header__menu-link:hover {
  color: var(--primary-color-blue-light);
}
.header__adress-icon {
  fill: var(--primary-color-blue-dark);
}
.header__adress-icon:hover {
  fill: var(--primary-color-blue-light);
}

/* Hero section */

.hero__section {
  padding-left: 206px;
  padding-bottom: 126px;
}
.hero__title {
  color: var(--primary-color-blue-light);
  font-family: Play;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.81;
  text-transform: capitalize;
  max-width: min-content;
  margin-bottom: 0;
  padding-bottom: 40px;
}
.hero__text {
  margin-top: 14px;
  font-size: 12px;
  color: var(--primary-secondary-color-grey-dark);
  width: 238px;
  text-align: center;
}

/* Reincarnation */

.reincarnation {
  padding-bottom: 176px;
  /* display: flex;
  justify-content: space-between; */
}
.reincarnation__container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.reincarnation__img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: space-between */
  gap: 40px;
  width: 499px;
  height: 695px;
}
.reincarnation__img > .after {
  order: 1;
  align-self: flex-end;
}
.before,
.after {
  border-radius: 172px;
}
.section__title-narrow {
  width: 518px;
  margin-bottom: 40px;
  font-family: Play;
  font-size: 64px;
  font-weight: 700;
}
.section__title-narrow .accent {
  color: var(--primary-color-blue-light);
}
.reincarnation__title {
  width: 709px;
  margin-right: 0;
}
.reincarnation__section-text {
  font-size: 22px;
  line-height: 1.7;
  margin-bottom: 40px;
}
.reincarnation__section-text .accent {
  font-weight: 600;
}
.section__title {
  margin-bottom: 48px;
  font-family: Play;
  font-size: 64px;
  font-weight: 700;
  text-align: center;
}
.section__title .accent {
  color: var(--primary-color-blue-light);
}

/* Advantures */

.advantage {
  padding-bottom: 96px;
}
.modify {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.advantures {
  line-height: 1.3;
}
.advantage__list {
  display: flex;
  justify-content: space-evenly;
}
.advantage__li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 316px;
  align-items: center;
  padding: 24px 32px;
  border: 1px solid red;
  border-radius: 32px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
}
.advantage_li img {
  margin-bottom: 8px;
}
.advantage_li p {
  justify-content: center;
  align-items: center;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

/* Procedures */

.procedures {
  margin-bottom: 96px;
}
.procedures__link {
  display: flex;
  justify-content: center;
  gap: 16px;
  font-size: 22px;
  color: #fff;
  text-align: center;
}
.procedure__mask {
  border-radius: 4px 120px;
  background: linear-gradient(
      180deg,
      rgba(1, 28, 68, 0) 47.4%,
      rgba(1, 28, 68, 0.73) 82.66%,
      var(--primary-color-blue-dark) 99.06%
    ),
    url(../images/masks-for-the-face.jpg);
  width: 344px;
  height: 456px;
}
.procedures__Injections {
  border-radius: 4px 120px;
  background: linear-gradient(
      180deg,
      rgba(1, 28, 68, 0) 47.4%,
      rgba(1, 28, 68, 0.73) 82.66%,
      var(--primary-color-blue-dark) 99.06%
    ),
    url(../images/injections-for-the-face.jpg);
  width: 344px;
  height: 456px;
}
.procedures__facial-cleansing {
  border-radius: 4px 120px;
  background: linear-gradient(
      180deg,
      rgba(1, 28, 68, 0) 47.4%,
      rgba(1, 28, 68, 0.73) 82.66%,
      var(--primary-color-blue-dark) 99.06%
    ),
    url(../images/facial-cleansing.jpg);
  width: 344px;
  height: 456px;
}
.slider {
  display: flex;
  align-items: center;
  gap: 32px;
}

/* Slider-button */

.slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid var(--primary-color-blue-dark);
  fill: var(--primary-color-blue-dark);
  background-color: transparent;
}
.slider-button:hover {
  fill: #fff;
  background: var(--primary-color-blue-light);
  border: none;
}
.right-button {
  transform: rotate(180deg);
}

/* Location */

.location {
  padding-bottom: 94px;
}
.location__aside {
  display: flex;
  justify-content: center;
  gap: 32px;
}
.location__modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--primary-color-blue-dark);
  border-radius: 32px;
  width: 423px;
  height: 481px;
  gap: 16px;
  background-image: url(../images/backgraund-form.png);
}
.form {
  border-radius: 32px;
  border: 2px solid var(--beauty-landing-25, #747272);
  width: 310px;
  height: 52px;
  text-align: center;
}
.questionnaire {
  max-width: 280px;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}
.questionnaire .free {
  color: var(--primary-color-blue-light);
}

.privacy {
  color: var(--primary-secondary-color-grey-light);
  font-size: 12px;
  width: 213px;
  text-align: center;
}

/* Footer */

.footer {
  background: #011c44;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 186px;
}
.container__footer {
  display: flex;
  justify-content: space-between;
  margin: 56px 100px;
  gap: 186px;
}
.footer-nav {
  width: 203px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__link {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}
.footer__link:hover {
  color: var(--primary-color-blue-light);
}
.footer__address {
  width: 193px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__address-li {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__privacy {
  width: 260px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-link:hover {
  color: var(--primary-color-blue-light);
}
.address-copyright {
  color: var(--primary-secondary-color-grey-light);
  font-size: 13px;
}
.footer__social-networks {
  display: flex;
  gap: 24px;
}
.footer__adress-icon {
  fill: var(--primary-color-light);
}
.footer__adress-icon:hover {
  fill: var(--primary-color-blue-light);
}
